In [ ]:
# Importing dependencies
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [ ]:
# Load the crypto_data.csv dataset.
file_path=("healthcare-dataset-stroke-data.csv")
stroke_df=pd.read_csv(file_path)
print(stroke_df.shape)
stroke_df.head(10)

In [ ]:
# Remove "ID" column
stroke_all_df= stroke_df.drop("id",axis=1)
stroke_all_df.head()

In [ ]:
# Rename Column Names
column =["Gender","Age","Hypertension","Heart_Disease","Ever_Married","Work_Type","Residence_Type","Average_Glucoce","BMI","Smoking_Status","Stroke"]
stroke_all_df.columns=column
stroke_all_df.head()

In [ ]:
# Look for NAN
stroke_all_df.isnull().values.sum()

In [ ]:
# Drop BMI NAN values from stroke_all_df
stroke_df = stroke_all_df.dropna()

# NAN count in the new dataframe stroke_df
stroke_df[column].isnull().sum()

In [ ]:
# Shape of the new dataframe stroke_df
stroke_df.shape

In [ ]:
# Look for datatypes
stroke_df.dtypes

In [ ]:
# Storing the stroke_df with NaN rows removed as a separate CSV
stroke_df.to_csv("stroke_no_NaN.csv")