In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
# Load the data
file_path = Path("../Stroke-Prediction-Analysis/stroke_encoded_no_NaN.csv")
stroke_df = pd.read_csv(file_path)
stroke_df.head()

,Unnamed: 0,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Average_Glucose,BMI,Smoking_Status,Stroke
0,0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
2,3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
3,4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
4,5,1,81.0,0,0,1,2,1,186.21,29.0,1,1

In [3]:
# Remove "ID" column
stroke_df= stroke_df.drop('Unnamed: 0',axis=1)
stroke_df.head()

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Average_Glucose,BMI,Smoking_Status,Stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,1,80.0,0,1,1,2,0,105.92,32.5,2,1
2,0,49.0,0,0,1,2,1,171.23,34.4,3,1
3,0,79.0,1,0,1,3,0,174.12,24.0,2,1
4,1,81.0,0,0,1,2,1,186.21,29.0,1,1

In [4]:
# Standardize the data
stroke_scaled = StandardScaler().fit_transform(stroke_df)
print(stroke_scaled[0:5])

[[ 1.20024032  1.06993757 -0.31810241  4.3814987   0.72927032 -0.15571291
   0.98543612  2.77779723  0.98114481 -0.35182832  4.74165093]
 [ 1.20024032  1.64633634 -0.31810241  4.3814987   0.72927032 -0.15571291
  -1.01477913  0.01401584  0.45908589  0.58510786  4.74165093]
 [-0.83316648  0.27184695 -0.31810241 -0.22823241  0.72927032 -0.15571291
   0.98543612  1.48426559  0.70101563  1.52204404  4.74165093]
 [-0.83316648  1.60199798  3.14364174 -0.22823241  0.72927032  0.75954335
  -1.01477913  1.54932488 -0.62323138  0.58510786  4.74165093]
 [ 1.20024032  1.69067471 -0.31810241 -0.22823241  0.72927032 -0.15571291
   0.98543612  1.8214933   0.01342584 -0.35182832  4.74165093]]

In [5]:
# Initialize PCA model
pca = PCA(n_components=2)

# Get two principal components for the data.
stroke_pca = pca.fit_transform(stroke_scaled)

In [6]:
# Transform PCA data to a DataFrame
stroke_df_pca = pd.DataFrame(
    data=stroke_pca, columns=["principal component 1", "principal component 2",]
)
stroke_df_pca.head()

   principal component 1  principal component 2
0               3.366829               5.062353
1               3.112444               3.904107
2               2.344761               1.250854
3               2.791735               3.318528
4               2.270985               2.808796

In [7]:
# Fetch the explained variance
pca.explained_variance_ratio_

array([0.24468647, 0.12035185])

In [8]:
# Initialize PCA model for 3 principal components
pca = PCA(n_components=3)

# Get two principal components for the iris data.
stroke_pca = pca.fit_transform(stroke_scaled)

In [17]:
# Transform PCA data to a DataFrame
stroke_df_pca = pd.DataFrame(
    data=stroke_pca, columns=["principal component 1", "principal component 2", "principal component 3"]
)
stroke_df_pca.head()

   principal component 1  principal component 2  principal component 3
0               3.366829               5.062353               1.414369
1               3.112444               3.904107              -0.242392
2               2.344761               1.250854               1.809815
3               2.791735               3.318528               0.120899
4               2.270985               2.808796               1.480918

In [18]:
# Fetch the explained variance
pca.explained_variance_ratio_

array([0.24468647, 0.12035185, 0.09115323])

# Logistic Regression to fit

In [ ]:
y = df["Outcome"]
X = df.drop(columns="Outcome")

In [13]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [14]:
classifier.fit(X_train, y_train)

NameError: name 'X_train' is not defined