In [19]:
# Importing dependencies
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt

In [20]:
# Load the crypto_data.csv dataset.
file_path=("healthcare-dataset-stroke-data.csv")
stroke_df=pd.read_csv(file_path)
print(stroke_df.shape)
stroke_df.head(10)

(5110, 12)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [21]:
# Remove "ID" column
stroke_all_df= stroke_df.drop("id",axis=1)
stroke_all_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [22]:
# Rename Column Names
column =["Gender","Age","Hypertension","Heart_Disease","Marriage_Status","Work_Type","Residence_Type","Average_Glucose","BMI","Smoking_Status","Stroke"]
stroke_all_df.columns=column
stroke_all_df.head()

,Gender,Age,Hypertension,Heart_Disease,Marriage_Status,Work_Type,Residence_Type,Average_Glucose,BMI,Smoking_Status,Stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [23]:
# Look for NAN
stroke_all_df.isnull().values.sum()

201

In [24]:
# NAN count in each column
stroke_all_df[column].isnull().sum()

Gender               0
Age                  0
Hypertension         0
Heart_Disease        0
Marriage_Status      0
Work_Type            0
Residence_Type       0
Average_Glucose      0
BMI                201
Smoking_Status       0
Stroke               0
dtype: int64

In [25]:
# Drop BMI NAN values from stroke_all_df
stroke_df = stroke_all_df.dropna()

In [26]:
# NAN count in the new dataframe stroke_df
stroke_df[column].isnull().sum()

Gender             0
Age                0
Hypertension       0
Heart_Disease      0
Marriage_Status    0
Work_Type          0
Residence_Type     0
Average_Glucose    0
BMI                0
Smoking_Status     0
Stroke             0
dtype: int64

In [27]:
# Shape of the new dataframe stroke_df
stroke_df.shape

(4909, 11)

In [28]:
# Look for datatypes
stroke_df.dtypes

Gender              object
Age                float64
Hypertension         int64
Heart_Disease        int64
Marriage_Status     object
Work_Type           object
Residence_Type      object
Average_Glucose    float64
BMI                float64
Smoking_Status      object
Stroke               int64
dtype: object

In [29]:
# Storing the stroke_df with NaN rows removed as a separate CSV
stroke_df.to_csv("stroke_no_NaN.csv")

In [30]:
# Looking at value counts for Gender column
stroke_df["Gender"].value_counts()

Female    2897
Male      2011
Other        1
Name: Gender, dtype: int64

In [31]:
# Deleting row with "Other" value in Gender column
stroke_df=stroke_df[stroke_df.Gender!= "Other"]

In [32]:
# Value count of Smoking_Status
stroke_df["Smoking_Status"].value_counts()

never smoked       1852
Unknown            1483
formerly smoked     836
smokes              737
Name: Smoking_Status, dtype: int64

In [33]:
from sqlalchemy import create_engine
import psycopg2

In [34]:
engine = create_engine('postgresql://postgres:Code4you@localhost:5432/Stroke-Prediction')
stroke_df.to_sql('StrokeDS', engine)

ValueError: Table 'StrokeDS' already exists.

In [37]:
engineAWS = create_engine('postgresql://postgres:Code4you@localhost:5432/StrokeAWS')
stroke_df.to_sql('StrokeDS', engineAWS)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  database "StrokeAWS" does not exist

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [44]:
# #setting up the connection
# conn_string = "dbname='StrokeAWS' user='postgres' password='Code4you'"
# conn = psycopg2.connect(conn_string)
# print("Connecting to Database")

OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  database "StrokeAWS" does not exist

In [48]:
from flask import Flask, render_template, redirect, url_for
from flask_pymongo import PyMongo

In [49]:
app=Flask(__name__)

In [50]:
# Use flask_pymongo to set up mongo connection
app.config["MONGO_URI"] = "mongodb://localhost:27017/Stroke_Prediction"
mongo = PyMongo(app)

In [ ]:
@app.route("/")
def index():
   stroke = mongo.db.mars.find_one()
   return render_template("index.html", mars=mars)